<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My App</title>
</head>
<body>
	<h2>Welcome</h2>
	<table>
		<tr>
			<td>Name: </td>
			<td th:text="${#strings.concat('Mr/Mrs. ', #authentication.getPrincipal().getFields().name)}">Rehman</td>
		</tr>
		<tr>
			<td>Username: </td>
			<td th:text="${#authentication.getPrincipal().username}">Rehman</td>
		</tr>
		<tr>
			<td>Designation: </td>
			<td th:text="${#authentication.getPrincipal().getFields().designation}">Rehman</td>
		</tr>
		<tr>
			<td>Role: </td>
			<td th:text="${#authentication.getPrincipal().authorities}">Rehman</td>
		</tr>
	</table>
	<div sec:authorize="hasAuthority('ADMIN')">This text display only for ADMIN Role</div>
	<div sec:authorize="hasAuthority('USER')">This text display only for USER Role</div>
	<a href="/logout">LOGOUT</a>
</body>
</html>